<form id="searchbox" class="col s10 offset-s1 m8 offset-m2">

  <div class="row">
    <div class="input-field">
      <select id="searchboxFrom">
        <option value="" disabled selected>Choose your option</option>
        {{#each stations}}
          <option id={{this.id}} value="{{this.id}}">{{this.Name}}</option>
        {{/each}}
      </select>
      <label>Where are you?</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <select id="searchboxTo">
        <option value="" disabled selected>Choose your option</option>
        {{#each stations}}
          <option value="{{this.id}}">{{this.Name}}</option>
        {{/each}}
      </select>
      <label>Where do you wanna go?</label>
    </div>
  </div>

  <div class="row center-align">
      <a id="searchbox_button" class="waves-effect waves-light btn">Find trains.</a>
  </div>
</form>